.app-header {
    padding-block: 1em;
    background-color: var(--gray1);
    color: whitesmoke;
}

.app-header > * {
    align-items: center;
    grid-row: 1;
}

.app-header h1 {
    margin: 0;
    justify-self: start;
}

.app-header nav {
    display: flex;
    gap: 4em;
    justify-self: end;
    margin-right: 3em;
}

.app-header nav a {
    border-block-end: 1px solid transparent;
    text-decoration: none;
}


.app-header nav a.active {
    color: var(--color3);
    border-block-end: 1px solid var(--color3);
}

.user {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.user a {
  color: whitesmoke;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.user a:hover {
  color: var(--color3);
}

.user button {
  color: #fff;
  border: none;
  padding: 0.35em 0.8em;
  font-size: 0.85rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}



